html {
    box-sizing: border-box;
    font-size: 62.5%;

    /* 1REM = 10px  */

}
*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    overflow-x: hidden;

}

.ok {

    background-image: url('../src/Icos/wave.svg');
    margin: 0 !important;

}


div {
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.active {

  background-color: #63ac44;
  border-radius: 5px;
  padding: 2px 17px 3px;
  margin-bottom: 15px;
  border: 0;
  font-weight: bold;
  color: white;
  cursor: pointer;


}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1REM = 10px  */
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
