

html {
  box-sizing: border-box;
  font-size: 62.5%;
  
  /* 1REM = 10px  */
 
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  overflow-x: hidden;
 
}

.ok {
  
  background-image: url(../src/Icos/wave.svg);
  margin: 0 !important;
}



div{
  margin: 0;
  overflow-x: hidden;
}


a {
  text-decoration: none;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1REM = 10px  */
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  


  