html,
      body,
      body div,
      span,
      object,
      iframe,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      blockquote,
      pre,
      abbr,
      address,
      cite,
      code,
      del,
      dfn,
      em,
      img,
      ins,
      kbd,
      q,
      samp,
      small,
      strong,
      sub,
      sup,
      var,
      b,
      i,
      dl,
      dt,
      dd,
      ol,
      ul,
      li,
      fieldset,
      form,
      label,
      legend,
      table,
      caption,
      tbody,
      tfoot,
      thead,
      tr,
      th,
      td,
      article,
      aside,
      figure,
      footer,
      header,
      hgroup,
      menu,
    
      section,
      time,
      mark,
      audio,
      header ,
      nav,
      video {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        overflow-x: hidden;

        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        line-height: 2;
      }

      a {
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1REM = 10px  */
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  


  